<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,700,900&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <title>EMS using Blockchain</title>
</head>

<body class="about text-black">

    <!-- navbar -->

    <nav class="navbar navbar-expand navbar-light w-100 bg-info shadow position-fixed">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto mx-md-0">
                    <img class="navlogo nav-link img-fluid p-0 me-2" src="../static/img/logo.png" height="40px" alt="">
                    <p class="nav-title navbar-brand fw-bold m-0 me-5" href="#">E-Attendance Using Blockchain</p>
                    <div class="container">
                        <a class="nav-link text-black px-4 float-start d-none d-md-block" href="/">HOME</a>
                        <a class="nav-link text-black px-4 float-start d-none d-md-block" href="/about">ABOUT</a>
                        <a class="nav-link text-black px-4 float-start d-none d-md-block" href="#">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- main body -->

    <div class="main-div container text-center pt-5">
        <div class="about-div px-5 py-2">
            <p class="heading fs-2 fw-bold">About</p>
            <p class="para text-start m-0 mb-3"> Low ratio of attendance of college students in their classes is one of the most challenging problems
                being
                faced by college management. Moreover, fake issuance of degrees without attending college is also on the
                rise around the world. Among various solutions, implementation of student attendance system through
                blockchain technology is considered the most suitable, in this regard.</p><br>

            <p class="para text-start">E-attendance system for students with the blockchain methodology can keep the data immutable that cannot
                be
                altered or changed by any means. The system will provide permanent record of lecture attendance that can
                be
                helpful for evaluation purposes. The attendance once marked cannot be updated and data is stored safely
                at
                all connected locations. The record is transparent and accessible through all connected nodes. The
                system
                cannot be controlled centrally or no intermediary party will be required. It is automation with secured
                unidirectional encryption.</p><br>

            <p class="para text-start">This system will provide separate interfaces to students, faculty and management for their assigned
                transactions. It is based on mining of blocks with unique IDs and proof of work before adding the blocks
                to
                main database. Hashing technique will be used to certify digital signatures of students. Students will
                log
                in to their portal and mark the attendance against the classes where they are authorized. Moreover,
                management would define the attendance option against particular classes where the students are
                enrolled. A
                user-friendly simple web-based interface will be developed both for the students and management.</p>
        </div>
    </div>

    <script src="asset/js/bootstrap.min.js"></script>
</body>

</html>