<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/all.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,700,900&amp;subset=latin-ext"
    rel="stylesheet">
  <link rel="shortcut icon" href="../static/img/logo.png">
  <title>EMS using Blockchain</title>
</head>

<body class="home text-black">

  <!-- navbar -->

  <nav class="navbar navbar-expand navbar-light w-100 bg-info shadow-lg position-fixed">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto mx-md-0">
          <img class="navlogo nav-link img-fluid p-0 me-2" src="../static/img/logo.png" height="40px" alt="">
          <p class="nav-title navbar-brand fw-bold m-0 me-5" href="#">E-Attendance Using Blockchain</p>
          <div class="container">
            <a class="nav-link text-black px-4 float-start d-none d-md-block" href="/">HOME</a>
            <a class="nav-link text-black px-4 float-start d-none d-md-block" href="/about">ABOUT</a>
            <a class="nav-link text-black px-4 float-start d-none d-md-block" href="#">CONTACT</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- main body -->

  <div class="main-div container text-center pt-5">
    <p class="para-1 fs-4 fw-bold">Welcome to E-Attendance Management System using Blockchain</p>
    <p class="para-2 pt-2 pb-3 fs-4 fw-bold mb-2">Login as:</p>

    <div class="buttons row">
      <div class="col-4 p-5">
        <a class="text-decoration-none text-black" href="/admin_login">
          <div class="person text-center p-2">
            <img class="mb-2" src="../static/img/Admin Pic.png" alt="">
            <p class="fs-5 fw-bold p-0 m-0">Admin</p>
          </div>
        </a>
      </div>

      <div class="col-4 p-5">
        <a class="text-decoration-none text-black" href="/faculty_login">
          <div class="person text-center p-2">
            <img class="img-fluid mb-2" src="../static/img/faculty.png" alt="">
            <p class="fs-5 fw-bold p-0 m-0">Faculty</p>
          </div>
        </a>
      </div>

      <div class="col-4 p-5">
        <a class="text-decoration-none text-black" href="/student_login">
          <div class="person text-center p-2">
            <img class="img-fluid mb-2" src="../static/img/student.png" alt="">
            <p class="fs-5 fw-bold p-0 m-0">Student</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <script src="asset/js/bootstrap.min.js"></script>
</body>

</html>